{% extends 'main/index.html' %}
{% block title %}Про нас{% endblock %}
{% block content %}
<h1 class="about-title">Про нас</h1>
<p class="about-text">
    Ласкаво просимо до нашого магазину – вашого надійного онлайн-партнера! Наша місія – забезпечити вас якісними товарами за доступними цінами, роблячи покупки простими та приємними.
    У нашому асортименті ви знайдете стильний одяг, електроніку, домашні товари та косметику. Ми працюємо лише з перевіреними постачальниками, щоб гарантувати високу якість кожного продукту.
    Чому обирають нас? Ми пропонуємо доступні ціни, швидку доставку та бездоганний клієнтський сервіс. Наша команда завжди готова допомогти вам з будь-якими запитаннями.
    Приєднуйтесь до нашої спільноти, підписавшись на новини та акції. Дякуємо, що обрали наш магазин! Сподіваємося, ваш досвід покупок у нас буде незабутнім!
</p>
{% endblock %}